.icon-cc-transactions { background-image: url("./images/icon_cc_transactions.gif"); }


dl dd input.amount
{
	width: 40px;
	text-align: right;
}


/* transactions list */

.search-box #transactions-search button.button
{
	border-radius: 0 4px 4px 0;
}


table.transactionlist th, table transactionlist td
{
	width: 15%;
	text-align: left;
}

table.transactionlist th.description
{
	width: 40%;
}

table.transactionlist td.amount
{
	text-align:center;
}

